<div *ngIf="order.length; else noItems" class="container">
    <div class="order-details">
        <app-personal-info class="info-box" (orderEmitter)="setOrderValue($event)"></app-personal-info>
        <app-cart [order]="order" [shop]="shop" class="cart-box" (isItemsAdded)="setChangedOrder()"></app-cart>
    </div>
    <div class="submit-box">
        <h3>Total price: {{ totalPrice }} ₴</h3>
        <button class="btn btn-accent" [disabled]="!personalInfo || !isValidForm" (click)="addOrder()">Submit</button>
    </div>
</div>
<ng-template #noItems>
    <div class="container-no-items">
        <h1>Cart is empty</h1>
        <button class="btn btn-accent" (click)="goToShop()">Go to shop</button>
    </div>
</ng-template>
