<div class="prod-card" [ngClass]="{ 'card-order' : isOrder, 'card-selected' : amount }">
    <div class="image-box" [ngClass]="{ 'image-order' : isOrder }">
        <div *ngIf="product.gram && product.ingredience" class="prod-info">
            <button class="info-btn" (click)="isInfoShowed = !isInfoShowed">info</button>
            <p>{{ product.gram }} g</p>
        </div>
        <div *ngIf="product.ingredience && isInfoShowed" class="ingredience-box">
            <p *ngFor="let ingr of product.ingredience">{{ingr}}</p>
        </div>
        <img [src]="product.image" [alt]="product.name" class="image"/>
    </div>
    <div class="prod-text">
        <h3>{{ product.name }}</h3>
        <p>{{ product.price }} ₴</p>
        <div class="buttons-box">
            <button *ngIf="!isAdded" class="btn btn-white s-btn" (click)="addItemToCart()">Add to cart</button>
            <div *ngIf="isAdded" class="amount-box">
                <button class="remove-button" (click)="decrementAmount()"><i class="fa-solid fa-minus"></i></button>
                <input 
                    type="number" 
                    [formControl]="prodAmount" 
                    class="amount-input" 
                    [ngClass]="{ 'error-text' : prodAmount.invalid }" 
                    [value]="amount" 
                    (keyup)="setAmount($event)"
                    (focusout)="setValidAmount()"
                />
                <button class="add-button" (click)="incrementAmount()"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div> 
            </div>
        </div>
    </div>
</div>
