.personal-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    padding: 24px 64px;

    .form {
        display: flex;
        gap: 24px;
        width: 100%;

        .column {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 50%;

            .input-box {
                width: 100%;

                .text-area {
                    height: 110px;
                    resize: none;
                    padding: 12px;
                }
            }
        }
    }
}

.error-box {
    height: 14px;
}

@media only screen and (max-width: 688px) {
    .personal-info {
        padding: 24px;

        .form {
            flex-direction: column;
    
            .column {
                width: 100%;
            }
        }
    } 
}