<div class="personal-info">
    <h1>Personal inforamtion</h1>
    <form [formGroup]="orderForm" class="form">
        <div class="input-box">
            <label class="label">Name<span class="error-color">*</span></label>
            <input formControlName="name" type="text" class="small-input" placeholder="Enter name" [ngClass]="{ 'input-invalid' : getIsControlInvalid('name')}" required/>
            <span class="error-box">
                <app-error-message *ngIf="getIsControlInvalid('name')" [validator]="getControl('name')"></app-error-message>
            </span>
        </div>
        <div class="input-box">
            <label class="label">Email<span class="error-color">*</span></label>
            <input formControlName="email" type="text" class="small-input" placeholder="Enter email" [ngClass]="{ 'input-invalid' : getIsControlInvalid('email')}" required/>
            <span class="error-box">
                <app-error-message *ngIf="getIsControlInvalid('email')" [validator]="getControl('name')"></app-error-message>
            </span>
        </div>
        <div class="input-box">
            <label class="label">Phone<span class="error-color">*</span></label>
            <input formControlName="phone" type="tel" placeholder="+380(__) ___ __ __" class="small-input" [ngClass]="{ 'input-invalid' : getIsControlInvalid('phone')}" required/>
            <span class="error-box">
                <app-error-message *ngIf="getIsControlInvalid('phone')" [validator]="getControl('name')"></app-error-message>
            </span>
        </div>
        <div class="input-box">
            <label class="label">Address<span class="error-color">*</span></label>
            <input formControlName="address" class="small-input" placeholder="Enter your address" [ngClass]="{ 'input-invalid' : getIsControlInvalid('address')}" required/>
            <span class="error-box">
                <app-error-message *ngIf="getIsControlInvalid('address')" [validator]="getControl('name')"></app-error-message>
            </span>
        </div>
    </form>
</div>
