<div class="container">
    <app-shop-filter (shopSelected)="getProducts($event)" [isItemAdded]="isItemAdded"></app-shop-filter>
    <div class="shop-container">
        <h1 class="shop-name">{{ shopName }}</h1>
        <div class="shop-prod-box" *ngIf="products && products.length">
            <div class="shop-category" *ngFor="let product of products">
                <h2 class="category">{{  product.category }}</h2>
                <div class="product-list">
                    <app-product-card *ngFor="let item of product.items" [product]="item" [shop]="shopName" (isItemsAdded)="setItemAdded($event)"></app-product-card>
                </div>
            </div>
        </div>
        <button *ngIf="isItemAdded" class="btn btn-accent btn-nav" (click)="goToCart()">To cart</button>
    </div>
</div>
