.shop-item {
    display: flex;
    position: relative;
    width: 240px;
    height: 70px;
    border: 0;
    transition: all .3s;

    &:hover:enabled .name {
        background-color: rgba($color: #363636, $alpha: .5);
        border-right: 2px solid var(--white);
        cursor: pointer;
    }

    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 24px;
        color: var(--white);
        border-right: 2px solid rgba($color: #000000, $alpha: 0);
        z-index: 99;
        transition: all .3s ease-in-out;
    }

    .image {
        position: absolute;
        object-fit: cover;
        filter: contrast(60%);
        height: 100%;
        width: 240px;
    }

    .selected {
        background-color: rgba($color: #202020, $alpha: .5);
    }
}

.selected-box {
    height: 109px;
}

@media only screen and (max-width: 688px) {
    .shop-item {
        height: 50px;
        width: 140px;

        .name {
            font-size: 18px;
        }

        .image {
            width: 140px;
        }
    }

    .selected-box {
        height: 70px;
    }
}